@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 180px;
    /* background gradient */
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section {
    margin: 3.5em 0;
}

.footer {
    background: #333 url("../image/texture.png");
    bottom: 0;
    position: absolute;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 180px;
    width: 100%;
}
.footer a {
    color: #888;
}

.header, .header .page-header {
    border: none;
    text-align: center;
}

.header .lead img {
    width: 150px;
    margin: 0 7px;
}

.content-social {
    padding-bottom: 15px;
}

.content-social .btn-toolbar {
    padding: 25px 0 15px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.tab-content {
    background-color: rgba(250,250,250,0.3);
    padding: 25px 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(250,250,250,0.3);
}

/* Main style
-------------------------------------------------- */
.form-group input, .form-group textarea {
    background: #363636;
    border-color: #222222;
    color: honeydew;
}

/* Special
-------------------------------------------------- */
.g-recaptcha {
    margin-bottom: 15px;
}
.form-msg p {
   margin-left: 15px;
}